/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f2f5;
    color: #333;
    line-height: 1.6;
    
}

header {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10px;
    background-color: #f8f8f8;
    box-shadow: 0 4px 6px rgba(5, 5, 5, 0.1);
}



/* Cabeçalho */


.logo img {
    width: 150px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #3a1a1a;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
    background-color: #056321;
    color: #fff;
}

/* Botões de autenticação */
.auth-buttons {
    display: flex;
}

.auth-buttons button {
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    font-weight: 600;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.auth-buttons .login-btn {
    background-color: #05631b;
    color: #fff;
}

.auth-buttons .register-btn {
    background-color: #007bff;
    color: #fff;
}

.auth-buttons button:hover {
    opacity: 0.9;
    transform: translateY(-2px); /* Efeito de elevação no hover */
}

/* Frase de impacto */
.impact-phrase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
    background: linear-gradient(135deg, #11cb74 0%, #2575fc 100%);
    color: #fff;
}

.impact-phrase h1 {
    font-size: 3.5rem; /* Aumentando o tamanho */
    font-weight: 700;
    margin-bottom: 10px;
}

.impact-phrase p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.cta-button {
    background-color: #fff;
    color: #007bff;
    padding: 10px 30px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 30px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}

.cta-button:hover {
    background-color: #007bff;
    color: #fff;
    transform: translateY(-2px); /* Efeito de elevação no hover */
}

/* Seções informativas */
.info-section {
    padding: 60px 20px;
    margin: 40px 0;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    background: #fff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.info-section:hover {
    transform: translateY(-10px);
    box-shadow: 0 16px 30px rgba(0, 0, 0, 0.15);
}

.info-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.info-content h2 {
    font-size: 2.7rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: #007bff;
    position: relative;
}

.info-content h2:before {
    content: '';
    position: absolute;
    width: 60px;
    height: 4px;
    background-color: #11cb74;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.info-content p {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 30px;
}

.info-content ul {
    list-style: none;
    padding: 0;
    font-size: 1.1rem;
    color: #333;
}

.info-content ul li {
    padding: 10px 0;
    border-bottom: 1px solid #ddd; /* Adicionando borda para cada item */
    transition: background-color 0.3s ease;
}

.info-content ul li:hover {
    background-color: #f8f9fa; /* Mudança de fundo ao passar o mouse */
}

/* Estilos do Mapa */
#map {
    width: 100%; /* A largura do mapa deve ser 100% */
    height: 600px; /* Altura do mapa */
    margin-top: 20px; /* Espaço acima do mapa */
}

/* Animação de fade-in */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.info-section {
    animation: fadeIn 0.5s ease-in-out both;
}

/* Seção de Agendamento específica */
#funcionalidade4 {
    padding: 60px 20px;
    margin: 40px 0;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    background: #fff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 100%; /* Ajuste a largura aqui */
    max-width: 12000px; /* Largura máxima da seção */
    margin: 0 auto; /* Centralizar a seção */
}

/* Responsividade */
@media screen and (max-width: 768px) {
    .impact-phrase h1 {
        font-size: 2.5rem;
    }
    
    .impact-phrase p {
        font-size: 1.2rem;
    }

    .info-content h2 {
        font-size: 2rem;
    }

    .info-content p {
        font-size: 1rem;
    }

    /* Aumenta a altura do mapa em telas menores */
    #map {
        height: 400px;
    }
}
